.form {
  margin: 4rem 6rem;
  color: #2a2a2a;
}

.form form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.form input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 9px;
  border: 1px solid #000000;
}
.form textarea {
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 9px;
  border: 1px solid #2a2a2a;
}

.form button {
  display: inline;
  background-color: #919994;
  border: 1px solid #ffffff;
}
.form button:active {
  background-color: #008e3b;
  border: 1px solid #fff;
}
.form button:hover {
  background-color: #008e3b;
  border: 1px solid #fff;
}
@media screen and (max-width: 555px) {
  .form {
    margin: 3rem 2rem;
  }
  .form form {
    padding-top: 2rem;
    width: 90%;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.contact-info {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  padding: 10px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .contact-info {
    width: 40%;
    padding-right: 10px;
  }

  .form-container {
    width: 60%;
    padding-left: 10px;
  }
}
  